{% extends 'word_cards/base.html' %}
{% load i18n %}

{% block content %}
<main class="container mt-3">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'word_card_index' %}">{% trans 'Word cards' %}</a></li>
            {% if form.instance.pk %}
            <li class="breadcrumb-item"><a href="{% url 'word_card_detail' form.instance.pk %}">{% trans 'Detail' %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Edit' %}</li>
            {% else %}
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Create' %}</li>
            {% endif %}
        </ol>
    </nav>

    <div class="card">
        <form class="card-body" method="post" enctype="multipart/form-data">
            <h5 class="card-title">{{ form.title }}</h5>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="card-link btn btn-outline-primary">{% trans 'Save' %}</button>
        </form>
    </div>

</main>
{% endblock %}